{% extends 'shopzero/home.html' %}
{% block content %}

<h1>Products in {{ category.name }}</h1>
{% if products %}
    <ul>
        {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>
                <p>Price: ${{ product.price }}</p>
                <p>Description: {{ product.description }}</p>
                <!-- Add more details about the product as needed -->
                <a href="{% url 'add_to_cart' product_id=product.id %}">Add to cart</a> || <a href="{% url 'add_to_wishlist' pk=product.id %}">Add to wish list</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No products found in this category.</p>
{% endif %}
{% endblock %}